.info-icon {
  margin-right: 5px;
}

.table-title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: max-content;
}

.table-title-actions button {
  margin-left: 10px;
  height: 40px;
}
